{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>
      <section class="about-us">
        <h2>За нас</h2>
        <p>Ние сме водеща агенция за недвижими имоти с многогодишен опит в посредничество за покупки, продажби и наеми на всички видове недвижими имоти.</p>
        <p>Нашата миссия е индивидуален подход към всеки клиент с юридическа подкрепа и съдействие за одобрение на кредити.</p>
        <button><a href="{% url 'properties' %}">Виж оферти</a></button>
      </section>
    </main>

{% endblock %}
