{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>

        {% if not properties %}
            <h2>За съжаление в момента няма оферти за предлагане</h2>
        {% else %}
            <div class="property-header">
                <h2>Всички оферти</h2>
                <div class="property-buttons">
                  <button><a href="{% url 'rent' %}">Наеми</a></button>
                  <button><a href="{% url 'sale' %}">Продажби</a></button>
                </div>
            </div>

          <section class="property-listings">
            {% for property in properties %}
                <div class="listing">
                  <div class="watermarked-image">
                    <img src="{{ property.images.first.image.url }}" alt="Property Image">
                    <img class="watermark-logo centered" src="{% static 'images/Лого ТОП ИМОТИ - ВТ НОВО с името БЕЗ ФОН.png' %}" alt="Watermark">
                  </div>
                  <div class="listing-info">
                    <h3>{{ property.title }}</h3>
                    <p>{{ property.area }} кв.м.</p>
                    <p>€ {{ property.price }}</p>
                    <button><a href="{% url 'property_details' pk=property.pk %}">Виж повече . . .</a></button>
                  </div>
                </div>
            {% endfor %}
          </section>
        {% endif %}

    </main>

{% endblock %}
